<header>
	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="topnav">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Forum <i class="fa fa-windows"></i> Owners</a>
        </div>
        <div class="navbar-right">
        	<ul class="nav navbar-nav">
	          <li class="dropdown">
	            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-server fa-lg"></i></a>
	            <ul class="dropdown-menu" role="menu">
                <% if (typeof playername != "undefined"){ %>
                <li>
                  <form action = "/signout" method = "post">
                    <button type="submit" class="btn" style="margin-left:15px">Sign Out</button>
                  </form>
                </li>
                <% } %>
	              <li class="dropdown-header">Welcome</li>
	              <li><a href="/howthisworks">How this works?</a></li>
	              <li><a href="/forumowner">Forum Owner of the Week</a></li>
	              <li><a href="/players">Players</a></li>
	              <li class="divider"></li>

	              <li class="dropdown-header">Own the Forums!</li>
                <li><a href="/trackedforums">Tracked Forums</a></li>
	              <li><a href="/questions">Question Aggregator</a></li>
	              <li><a href="/health">Forum Health</a></li>
	              <li class="divider"></li>

	              <li class="dropdown-header"><i class="fa fa-smile-o fa-lg"></i></li>	              
	              <li><a href="/achievements">List of Achievements</a></li>	   
	              <li><a href="/prizes">Prize of the Month</a></li>
	              <li><a href="/timeline">Timeline</a></li>
	              <li><a href="/leaderboards">Leaderboards</a></li>	              
	              <li><a href="/tournament">Tournament</a></li>
	              <li><a href="/teams">Teams</a></li>
	              <li><a href="/challenges">Challenges</a></li>

	            </ul>
	          </li>
        	</ul>
        </div>
        <% if (typeof playername == "undefined"){ %>
    		  <form class="navbar-form navbar-right" action = "/signin" method = "post">
            <div class="form-group">
              <input type="text" placeholder="Player Name" name="playername" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" name="password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
    	<% } else {%>
    		<div class="navbar-right">
    			<ul class="nav navbar-nav">
    				<li><a href="/profile">Hi, <%= playername %></a></li>
    			</ul>
    		</div>
    	<% } %>
      </div>
    </nav>
</header>