body {
  font-family:segoe ui light;
}

.leaderboardSelection{
	width: 25em;
	margin-top: 5em;
	margin-left: 5em;
}

.topnav{
	padding: 0px 20px;
}

.homepagebox{
	border-radius: 10px;
	width: 300px;
	height: 200px;
	padding: 60px 10px;
	text-align: center;
	margin-top: 20px;
	background-color: #eee;
}

a:hover { 
    text-decoration: none;
}

.timeline{
	display: inline;
}

.content{
	padding-top: 5em;
}

.rowsep{
	padding-top: 5em;
}

.colsep{
	padding: 0em 4em;
}

@font-face {
    font-family: "wf_segoe-ui_light";
    src: url("/fonts/latest.woff") format('woff');
}

footer{
	margin-top: 10em;
}

.howthisworksimg{
	width: 45em;
	height: 30em;
}

.howthisworkslist > li{
	font-size: 2em;
}

.obj{
	width: 200px;
	height: 200px;
}

.avatar{
	width: 10em;
	height: 10em;
	padding: 2em;
}

#preview > .avatar{
    padding: 0;
    width: 20em;
    height: 20em;
}

#forumOwnerPic > .avatar{
    padding: 0;
    width: 20em;
    height: 20em;
}

#playerlist > .avatar{
    padding: 0;
    width: 5em;
    height: 5em;
}

.achievementlistbadge > img{
	padding: 0;
    width: 5em;
    height: 5em;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
	vertical-align: middle;
}

.avatar:hover{
	cursor: pointer;
}

.avatar.selected{
	background-color: #eee;
}

#preview{
	width: 4em;
	height: 4em;
}

