body {
  font-family:wf_segoe-ui_light;
}

.topnav{
	padding: 0px 20px;
}

.homepagebox{
	border-radius: 10px;
	width: 300px;
	height: 200px;
	padding: 60px 10px;
	text-align: center;
	margin-top: 20px;
	background-color: #eee;
}

a:hover { 
    text-decoration: none;
}

.content{
	padding-top: 80px;
}

@font-face {
    font-family: "wf_segoe-ui_light";
    src: url("/fonts/latest.woff") format('woff');
}