<div class="container-fluid content">			
		<div class="col-md-12">
			<div class="row">
				<h1 class="page-header">Forum Owner Rotation?</h1>
				<h2 style="color:green">Goal:</h2> 
				<ul class="howthisworkslist">
					<li>Actively track and answer all StackOverflow and MSDN Azure Storage questions.</li>
					<li>Ensure that no question goes unanswered for more than <strong style="color:red">3 days</strong>.</li>
					<li>XFE and XClient Engineers and PMs are eligible for forum owner rotation. Contact micurd if you’d like to be included in the rotation</li>
					<li>Forum owner shifts are weekly.</li>
					<li>The forum owner rotation can be found <a href="/forumowner">here</a></li>
				</ul>
			</div>
			<div class="row">
				<h1 class="page-header">Stack Overflow Setup</h1>
				<div class="col-md-6">
					<ul>
						<li>Go to <a href="https://stackoverflow.com/users/signup">https://stackoverflow.com/users/signup</a></li>
						<li>Choose to create your login on StackExchange.</li>
						<li>As your Display Name, enter "<your real name> - MSFT“</li>
						<li>As your e-mail address, enter your work email address or another address that you use for work.</li>
						<li>You will receive an email to confirm your address. After you get this, follow the link and then edit your profile.</li>
						<li>Correct your Display Name to the same as step 3.</li>
						<li>As your Real Name, enter your real name, first and last.</li>
						<li>Website is optional (you could put in your LinkedIn url or use the Storage blog <a href="http://blogs.msdn.com/b/windowsazurestorage/">http://blogs.msdn.com/b/windowsazurestorage/</a>)</li>
						<li>As your Location, enter Redmond, WA</li>
						<li>No need to enter your birthday.</li>
						<li>In the "About Me" section, mention that you are part of the Azure Storage Engineering team</li>
					</ul>
				</div>
				<div class="col-md-6">
					<img class="howthisworksimg" src = "/images/stackoverflowsetup.png">
				</div>
			</div>
			<div class="row">
				<h1 class="page-header">MSDN Setup</h1>
				<div class="col-md-6">
					<ul>
						<li>Go to: <a href="http://social.microsoft.com/Forums/en-US/categories">http://social.microsoft.com/Forums/en-US/categories</a></li>   
						<li>Click the “Sign in” link  at the top right of the page</li> 
						<li>If you do not have a Windows Live ID you will need to create one</li> 
						<li>Once you have signed in with a valid Live ID you will need to fill out your Social profile</li> 
						<li>Once you have completed and saved your profile, you will need to associate your Live ID and profile to your Microsoft network credentials at the following URL: <a href="http://social.msdn.microsoft.com/profile/u/associate/microsoft/">http://social.msdn.microsoft.com/profile/u/associate/microsoft/</a></li>  
						<li>This will automatically put a “(MSFT)” indicator after your display name so customers can always see that you work for Microsoft.</li>
					</ul>
				</div>
				<div class="col-md-6">
					<img class="howthisworksimg" src="/images/msdnsetup.png">
				</div>
			</div>
			<div class="row">
				<h1 class="page-header">Shift Responsibilities</h1>
				<h2>Daily:</h2>
				<ul class="howthisworkslist">
					<li>Compile a list of unanswered questions</li> 
					<li>
						Answer questions
						<ul>
							<li>No question should go unanswered for more than 3 days</li>
							<li>If needed, you can contact xsforum mentors for help with proposing an answer</li>
						</ul>
					</li>
				</ul>
				<h2>End of Shift:</h2>
				<ul>
					<li>
						Send out email to xsforumowners and cc xsforummentors:
						<ul>
							<li>List of unanswered questions with links</li>
							<li>
								Each unanswered question should have a designated category
								<table class="table table-striped table-hover table-responsive" style="width:50em">
							      <thead>
							        <tr>
							          <th>Category</th>
							          <th></th>
							        </tr>
							      </thead>
							      <tbody>
						      		<tr>
						      			<th scope="row">No idea</th>
						      			<td>This is fine!  If you don't know, and can't figure out where to start, just say you don't know!</td>
						      		</tr>
						      		<tr>
						      			<th scope="row">Proposed answer</th>
						      			<td>Write up an answer you think will work.</td>
						      		</tr>
						      		<tr>
						      			<th scope="row">Endorse answer</th>
						      			<td>Someone from outside our team has already answered, we want to mark it as an answer or respond that we agree and thank the individual for their contribution.</td>
						      		</tr>
						      		<tr>
						      			<th scope="row">No Answer</th>
						      			<td>We actually want to avoid answering the question for some reason.  This will be rare, but is occasionally necessary where the question is something we can't or don't want to answer due to some sensitivity.</td>
						      		</tr>
							      </tbody>
							    </table>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>				
</div>