<div class="container-fluid content">			
	<h1 class="page-header">Prize of the Month</h1>	
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<img class="prize-of-month" src="/images/starbucks-gift-card.jpg">
	</div>
	<div class="col-md-4"></div>				
</div>