<div class="container-fluid content">			
	<input type="file" id="input" onchange="handleFiles(this.files)">	
	<div id="preview">
		<img class="avatar" src="<%= avatar %>">
	</div>
	<button class="btn btn-primary">Make Profile Pic</button>	
</div>
