<div class="container-fluid content">			
	<div class="col-md-4 col-md-offset-3">	
		<div class="col-md-12">
			<h3 class="dark-grey">Create Profile</h3>
		</div>		
		<form id="profileForm" action = "/post" method = "post">	
			<div class="form-group col-md-12">
				<label>Alias</label>
				<input type="" name="alias" class="form-control" id="" value="" placeholder="Enter Alias">
			</div>
			
			<div class="form-group col-md-6">
				<label>Password</label>
				<input type="password" name="password" class="form-control" id="password1" value="" placeholder="Enter password">
				<span id="8char" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> At least 1 character long :)
			</div>
			
			<div class="form-group col-md-6">
				<label>Confirm Password</label>
				<input type="password" name="confirmPassword" class="form-control" id="password2" value="" placeholder="Confirm password">
				<span id="pwmatch" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> Passwords Match
			</div>	
			<div class="col-md-12">
				<button type="submit" class="btn btn-primary">Create Profile</button>
			</div>
		</form>
	</div>						
</div>